@import "tailwindcss";

@theme {
  /* Colors */
  --color-primary: #30D5C8;
  --color-secondary: #EA5455;
  --color-neutral: #F0F8FF;
  --color-background: #0F0F0F;
  --color-muted: #F1F1F1;

  /* Fonts */
  --font-poppins: "Poppins", sans-serif;

  /* Breakpoints */
  --breakpoint-xs: 375px;
  --breakpoint-md-lg: 992px;
}

/* Base styles to handle your background and text color */
@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-muted);
    font-family: var(--font-poppins);
  }
}